
    <!-- 底部-->
   <script type="text/javascript"  charset="utf-8" src="__STATIC__/js/menudown.js"></script> 

</div></div>
<div class="footer">
<!--<div class="footer_pic_new">
		<div class="footer_pic_new_inner">
		    <a name="foot_1" href="http://help.dangdang.com/details/page13" target="_blank" class="footer_pic01"><span>正规渠道正品保障</span></a>
		    <a name="foot_2" class="footer_pic02" href="http://help.dangdang.com/details/page21" target="_blank"><span>放心购物货到付款</span></a>
		    <a name="foot_3" class="footer_pic03" href="http://help.dangdang.com/details/page16" target="_blank"><span>150城市次日送达</span></a>
		    <a name="foot_4" class="footer_pic04" href="http://help.dangdang.com/details/page29" target="_blank"><span>上门退货当场退款</span></a>
		</div>
	</div>-->
    <div class="foot_center">  
	
  <volist name="footer" id="vo">
<dl><dt>{$vo.title}</dt>
 <volist name="vo['id']" id="son"> 
<dd><a rel="nofollow"  href="{:U('help/lists?pid='.$son['id'])}" target="_blank">{$son.title}</a></dd>
</volist>
</dl>
</volist> 
     

<dl>
    <dt>在线客服</dt>
    <dd>周一至周五</dd>
    <dd>09:00-18:00</dd>
	<dd>
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={:C('QQ')}&site=qq&menu=yes">
		在线咨询
	<!--<img border="0" src="http://wpa.qq.com/pa?p=2:{:C('QQ')}:51" alt="点击这里给我发消息" title="点击这里给我发消息"/>-->
		</a></dd>
</dl>

<div class="footer_contant">
	<div class="footer_erwima">
		<img src="Public/Home/img/weixin.png">
		<img src="Public/Home/img/weixinma.png" style="display: none;" class="footer_xianshi">
	</div>
	<div class="footer_erwima">
		<img src="Public/Home/img/weibo.png">
		<img src="Public/Home/img/weiboma.png" style="display: none;" class="footer_xianshi">
	</div>
	<div class="footer_erwima">
		<img src="Public/Home/img/android.png">
		<img src="Public/Home/img/andriodma.png" style="display: none;" class="footer_xianshi">
	</div>
	<div class="footer_erwima">
		<img src="Public/Home/img/apple.png">
		<img src="Public/Home/img/applema.png" style="display: none;" class="footer_xianshi">
	</div>
</div>
<script>
	$(".footer_erwima").mouseover(function(){
    	$(this).find("img").show();
	});
	$(".footer_erwima").mouseout(function(){
    	$(".footer_xianshi").hide();
	});
</script>

  

     
    </div>
 
<div class="theme-footer"> 
    

  
      
       <p><span style=" text-align: center;"> Copyright 2005-2016 北京信息网建站 版权所有 技术支持:北京信息网建站 </p>
    
	</div> </div>

