<extend name="Base/s1"/>

	<block name="body">
	<!--主体内容开始-->
		<div class="content_active">
			<div>
				<a href="#" class="index-a">首页</a><span>></span><a href="#" class="index-b">发起活动</a>
			</div>
			<div class="content">
				<div class="content-left">
					<div class="admin-img">
						<div class="admin-img-1"><img id='dl' src="{$faceid|get_cover='path'}" alt="用户图片" title="用户图片" />
						<img src="__PUBLIC__/Home/img/shequ.jpg" id="ndl" style="display:none">
						</div>
						<script type='text/javascript'>
							    dl=document.getElementById('dl');
							    ndl=document.getElementById('ndl');
							if(uname=='' || uname==null){
									ndl.style.display=='block';
									dl.style.display=='none';
							}else{
								ndl.style.display=='none';
								dl.style.display=='block';
							}
						</script>
						<div class="admin-img-2"><div class="guanliyuan" id='uname'>{:get_username()}</div><div style="font-size: 12px;">管理员</div></div>
					</div>
					
					<div class="admin-img">
						<p><a href="#">已发布的({$count})</a></p>
						<p><a href="#">草稿箱(0)</a></p>
					</div>
					<h5>活动发布规则</h5>
					<ul class="guize">
						<li>严禁上传淫秽、低俗、反动等违法内容;</li>
						<li>严禁上传于活动无关的内容;</li>
						<li>严禁上传涉嫌侵犯他人知识产权的内容;</li>
						<li>严禁上传其它根据网站规则不得上传的内容;</li>
					</ul>
				</div>
				<div class="content-right">
					<h1>发布活动</h1>
					<form action="{:U('documentuser/issue')}" method='post' enctype = 'multipart/form-data'>
						<div class="content-right-1">
							<div class="right-1-1">
								<ul class="right-2-1">
								<li><label>文章标题:</label><input type="text" name='title' class="longinput" required="required"></li>
								<li><label>所属分类:</label>
								
									<select class="fcjj" name='cid'>
									<volist name='cc' id='vo'>
									<option  value='{$vo.id}'> {$vo.title}</option>
									<!--<option value=' 汽车活动'> 汽车活动</option>
									<option  value='赛事活动'> 赛事活动</option>
									<option value='电影活动'> 电影活动</option>
									<option value='音乐/演出活动'> 音乐/演出活动</option>
									<option value='戏剧/曲艺活动'> 戏剧/曲艺活动</option>
									<option value='户外/旅游活动'> 户外/旅游活动</option>
									<option value='商展会议活动'> 商展会议活动</option>
									<option value='社区活动'> 社区活动</option>
									<option value='艺术展览活动'>艺术展览活动</option>
									<option value='文化沙龙活动'>文化沙龙活动</option>
									<option value='游园/市集活动'>游园/市集活动</option>
									<option value='吃喝/玩乐活动'>吃喝/玩乐活动</option>
									<option value='运动/健身活动'>运动/健身活动</option>
									<option value='公益环保活动'>公益环保活动</option>
									<option value='教育/亲子活动'>教育/亲子活动</option>
									<option value='派对/夜市活动'>派对/夜市活动</option>
									<option value='商场活动'>商场活动</option>
									<option value='招募/其他活动'>招募/其他活动</option>-->
									</volist>
									</select>

									<select class="fcjj" name="area">
										<option>--请选择区县--	</option>
										<option>朝阳区</option>
										<option>东城区</option>
										<option>西城区</option>
										<option>海淀区</option>
										<option>丰台区</option>
										<option>石景山区</option>
										<option>大兴区</option>
										<option>昌平区</option>
										<option>顺义区</option>
										<option>门头沟区</option>
										<option>房山区</option>
										<option>怀柔区</option>
										<option>通州区</option>
										<option>平谷区</option>
										<option>密云区</option>
										<option>延庆区</option>
									</select>
								</li>
								<li><label>活动时间:</label><input type="date" name='starttime'class="smallinput"><span class="smallinputs">—</span><input type="date" name='stoptime' class="smallinput"></li>
								<li><label>地点:</label><input type="text" name='place' class="longinput" required="required"></li>
								<li><label>手机号:</label><input type="text" class="longinput" name='tel' required="required"></li>
								<li><label>QQ:</label><input type="text" name='QQ'class="longinput" required="required"></li>
								
								</ul>
							</div>
							<div class="right-1-2">
								<span class="fmt">封面图(点击图片上传):</span>
									<div class="bjxxwimage">
									<img name='titlepage1' src="file:///C:/Users/Leon/Desktop/app引导图/引导页1.jpg" title="北京信息网" alt="北京信息网" class="bjxxwimg" id="bjxxwe"/>
									<input type="file" name='titlepage' width="100" height="500" id="fileField" size="28"/>
									</div>
							</div>
							<div class="clearfix"></div>
							<!-- 插件部分 -->
							<!-- <div class="right-fwb edit" id="edit">
								
							</div>	 -->
							<div class="right-fwb edit">
							  <label class="textarea">
                                <textarea name='content'></textarea>
                                {:hook('adminArticleEdit', array('name'=>$field['name'],'value'=>$field['value']))}
                                </label>
                                </div>
							<div class="right-fwb-fb">
								<input type="submit" value="发布" class="fb_1" />
								 <!-- <textarea type='hidden' id='content1' name='content' style="display:none"></textarea> -->
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--主体内容结束-->
		
		
	</block>

